@import "variables";
/*按钮样式替换*/
.van-button--large {
  width: 100%;
  height: 44px;
  line-height: 42px;
}
.van-button--primary {
  color: #fff;
  //background-color: $primary-color;
  background-image: radial-gradient(circle at left top, $primay-gradient-light, $primay-gradient);
  border: 1px solid $primary-color;
  &.van-button--disabled {
    color: #999 !important;
    background-color: #e8e8e8 !important;
    border: 1px solid #e5e5e5 !important;
    background-image: none;
  }
}

.van-button--disabled {
  color: #999 !important;
  background-color: #e8e8e8 !important;
  border: 1px solid #e5e5e5 !important;
}
.van-button--gray {
  color: #fff !important;
  background-image: radial-gradient(circle at left top, #7d8286, #555);
}
.van-button--export {
  color: #fff !important;
  background-image: radial-gradient(circle at left top, #9486f9, #6e5aff);
}
.van-button--import {
  color: #fff !important;
  background-image: radial-gradient(circle at left top, #8aed98, #3bc14e);
}

.van-button {
 font-size: $normal-font;
}
/*按钮样式替换 end*/

/*导航条*/
.van-nav-bar .van-icon {
  color: inherit;
}
.van-nav-bar__text{
  color: inherit;
}
/*导航条*/
.van-cell__label {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #8d8d8d;
}
.van-cell {
  font-size: $normal-font;
  padding: 10px 15px;
}
.van-tab{
  font-size: $normal-font;
}
.van-field .van-cell__title {
  max-width: 5.6rem !important;
  /*color: $text-color;*/
}
.van-cell__value{
  color: $text-color;
}
.van-cell__title{
  /*color: $text-color;*/
}
/*选项卡*/
.van-tab--active {
 /* //background: $gray-color;*/
  color: $font-color;
  font-weight: bold;
}
.van-tab{
  color: $text-color;
}
.van-tabs__line {
  background-image: radial-gradient(circle at left top, $primay-gradient-light, $primay-gradient);
  height: 3px;
  border-radius: 5px;
  bottom: 17px;
}
.van-tabs__nav--card {
  margin: 0 15px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid $primary-color;
  height: 30px;
}

.van-tabs__nav--card .van-tab {
  color: $primary-color;
  border-right: 1px solid $primary-color;
  line-height: 28px;
}

.van-tabs__nav--card .van-tab.van-tab--active {
  color: #fff;
  //background-color: $primary-color;
  background-image: radial-gradient(circle at left top, $primay-gradient-light, $primay-gradient);
}
.van-nav-bar__title{
  font-size: 1rem!important;
}
/*导航*/
.no-border-nav.van-hairline--bottom{
  &:after{
    border: none;
  }
}
//.van-nav-bar{
//  .van-nav-bar__arrow{
//    font-size: 17px;
//    font-weight: 600;
//  }
  .van-nav-bar__title {
    font-size: 1rem;
  }
//}
/*进度条*/
.van-step--horizontal.van-step--finish .van-step__circle, .van-step--horizontal.van-step--finish {
  .van-step__line{
    background-color: $primary-color;
  }
  .van-step__circle{
    background-color: $primary-color;
  }
}
.van-step__circle-container{
  .van-icon-checked{
    color: $primary-color !important;
  }
}
.van-dialog__confirm,.van-dialog__confirm:active {
  color: $primary-color !important;
}
.van-key--green{
  background-color:$danger-color!important;
}
.van-checkbox__icon--checked .van-icon {
  border-color: $primary-color !important;
  background-color: $primary-color!important;
}
.van-radio .van-icon-checked{
  color: $primary-color!important;
}
.van-picker__cancel{
  color: $gray-gradient!important;
}
.van-picker__confirm{
  color: $primary-color!important;
}
.van-dialog__message--has-title{
 text-align: center;
}
.van-dialog__header {
  font-size: 1rem;
}
.van-toast--default .van-toast__text {
  font-size: 12px;
}
.van-search {
  padding: 15px 20px 0px;
  margin-bottom: 15px;
  background: $main-background-color !important;
}
.van-search .van-cell {
  padding: 6px 10px !important;
  border-radius: $border-radius !important;
  background: rgba(142,142,147,0.12);
}
.van-nav-bar__left, .van-nav-bar__right {
  font-size: $normal-font !important;
}

.van-tabbar-item__icon {
  margin-bottom: 2px !important;
}
.van-switch--on{
  background-color: $primary-color;
}
.van-popup {
  -o-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}

.van-pull-refresh{
 min-height: 100%;
}
