.trade-offers {
  th {
    padding-bottom: 9px;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .offer-table {
    width: 100%;
    .header {
      display: flex;
      font-weight: bold;
      padding-bottom: 9px;
      div{
        width: 50%;
        height: 20px;
        line-height: 20px;
      }
    }
    .row {
      display: flex;
      div{
        width: 50%;
        height: 29px;
        line-height: 29px;
      }
    }
  }
}
